body {
    background-color: white;
    display: block;
    flex-direction: column;
}

.gru {
    height: 80px;
    width: 80px;
    padding-left: 30px;
}
.black a{
    color: black;
}
a.black:link {
    color: black ;
}
a.black:visited {
    color: black ;
}

.blue a{
    color: rgb(28, 119, 255) 
}
a.blue:link {
    color: rgb(28, 119, 255) 
}
a.blue:visited {
    color: rgb(28, 119, 255) 
}
.blue a:hover {
    color: rgb(0, 58, 146) ;
}
.new-nav-background {
    font-family: objektiv-mk2,sans-serif;
    line-height: 160%;
    height: 80px;
    color: #000;
    font-size: 16px;
    box-sizing: border-box;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 101;
    background-color: hsla(0,0%,100%,.8);
    backdrop-filter: blur(10px);
    }

.desktop-nav-container {
    font-family: objektiv-mk2,sans-serif;
    line-height: 160%;
    color:#000;
    font-size: 16px;
    font-weight: 300;
    box-sizing: border-box;
    display: flex;
    width: 100%;
    height: 100%;
    -webkit-box-align: center;
    align-items: center;
}

.right-button1 {
    position: absolute;
    right: 200px;
    font-weight: 300;
}

.res-button1 {
    position: absolute;
    font-size: 20px;
    font-weight: 300; 
}

.right-button2 {
    position: absolute;
    right: 40px;
    font-weight: 300;
}

.right-logo {
    position: absolute;
    right: 10px;
}

.hamburger-icon {
    position: absolute;
    left: 20px;
    top: 30px;
}

.subheader {
    padding-top: 100px;
    text-align: center;
    color: black;
    font-size: 30px;
}

.sub-subheader {
    font-size: 20px;
    padding-right: 270px;
    padding-left: 270px;
}

.button {
    font-size:16px;
    font-weight: 500;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 210px;
    margin: 5px;
    padding: 15px 0;
    cursor: pointer;
    transition: all .5s;
    text-decoration: none;
    color: #fff;
    border: none;
    border-radius: 5px;
    background-color: black;
}
.button-cover::before {
    border-radius: 5px;
    background-color: black;
}
.button-border::before {
    border-radius: 5px;
    border-color: black;
}
.button-background::before {
    background: black;
}
.button:hover {
    background-color: #94ffe6;
    color: black !important;
}

.hvr-wobble-to-bottom-right button {
    color: white ;
}

.tiny-text {
    font-size: 15px;
    padding:10px 270px;
}

.main-container {
    width: 100%;
    height: 200px;
    display: block;
    position: relative;
}
.container {
    display: block;
    position: relative;
    background: #94ffe6;
    height: 100vh;
}

.wave {
    position: absolute;
    height: 99px;
    width: 100%;
    background: #94ffe6;
    bottom: 0;
}

.wave::before, .wave::after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 100% 50%;
}

.wave::before {
    width: 55%;
    height: 109%;
    background-color: #fff;
    right: -1.5%;
    top: 60%;
}
.wave::after {
    width: 55%;
    height: 100%;
    background-color: #94ffe6;
    left: -1.5%;
    top: 40%;
}

.stack-top{
    z-index: 9;
    top: 100px;
}

.customers {
    position: relative;
    display: block;
    top: 1200px;
    padding-left: 150px;
    font-size: 24px;
    font-weight: 3000;
}

.logo-container {
    display: block;
}

.space-img {
    padding-right: 20px;
}

.carousel {
    position: relative;
    top: 1250px;
    padding-left: 60px;
    padding-right: 60px;
}

.slide-align1 {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    height: 300px;
    top: 50px
}

.slide-align2 {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 450px;
    height: 300px;
    bottom: 250px;
}

.slide-align3 {
    position: relative;
    display: flex;
    flex-direction: column;
    padding-left: 850px;
    height: 300px;
    bottom: 550px
}

@media screen and (min-width: 900px) {
    .side-menu {
        display: none;
    }
}

@media screen and (max-width: 900px) {
    .desktop-nav-container {
        display: none;
    }
    .subheader {
        font-size: 20px;
    }
    .sub-subheader {
        font-size: 20px;
        padding-right: 70px;
        padding-left: 70px;
    }
    .tiny-text {
        font-size: 15px;
        padding:10px 70px;
    }
    .customers {
        padding-left: 40px;
        font-size: 20px;
    }
    .logo-container {
        text-align: center;
    }
}


